
<div>
	<h2 class="text-center">Photography</h2>
</div>

<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<img class="thumbnail" src = "src/images/2010_1024_095603AA.jpg">
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<img class="thumbnail" src = "src/images/P4231266.jpg">
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<img class="thumbnail" src = "src/images/P4231104.jpg">
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<img class="thumbnail" src = "src/images/SDC10732.JPG">
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<img class="thumbnail" src = "src/images/P5071364.jpg">
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<img class="thumbnail" src = "src/images/P4231068.jpg">
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-sm-12 col-xs-12">
		<img class="thumbnail" src = "src/images/P4231126.jpg">
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12">
		<img class="thumbnail" src="src/images/P4231103.jpg">
	</div>

</div>
<script>
	// animate gallery photos
	sr.reveal('.thumbnail', {viewOffset:{top: 106}},100);
</script>
