<div  class = "center_piece">
	<div class="title text-center">
		<h2>Projects</h2>
	</div>
	<div>
		<ul>
			<websites website="website" ng-repeat="website in proCtrl.websites"></websites>
		</ul>
		<p>The following games were class projects implemented in Codeskulptor. After clicking the links in here, just click the play button (triangle) on the upper left of the new page to start the game.</p>
		<ul class="game-list">
			<homeworks homework="homework" ng-repeat="homework in proCtrl.homeworks" ></homeworks>
		</ul>

	</div>
</div>

<!-- <div  class = "center_piece">

			<websites website="website" ng-repeat="website in proCtrl.websites"></websites>

			<homeworks homework="homework" ng-repeat="homework in proCtrl.homeworks" ></homeworks>

</div> -->

<!-- <div class="row">
	<div class="col-md-6 col-sm-12">
		<a href="{{$ctrl.website.url}}">
			<img src="{{$ctrl.website.image}}" alt="">
			<span>{{$ctrl.website.description}}</span>
		</a>
	</div>
</div> -->
