<div  class = "center_piece">
	<div class="title text-center">
		<h2>Projects</h2>
	</div>
	<div>
		<p ng-repeat="website in websites">{{website.description}}</p>
		<p ng-repeat="website in websites">abc</p>
		<p>{{websites[0].description}}</p>
		<ul class="list-group">
			<websites website="website" ng-repeat="website in websites"></websites>
		</ul>
		<ul class="list-group" id="game-list">
			<homeworks homework="homework" ng-repeat="homework in homeworks" ></homeworks>
		</ul>

	</div>
</div>
