<div  class = "">
	<div class="title text-center">
		<h2>****** Python Games ******</h2>
	</div>
	<div class="row text-center">
		<homeworks homework="homework" ng-repeat="homework in proCtrl.homeworks" ></homeworks>
	</div>
	<!-- <div class="row text-center">
		<div class="col-md-4 col-sm-6">
			<a href="http://www.codeskulptor.org/#user43_lf6NAL9PUb_4.py" target="_blank">
				<img src="src/images/Rice Rock.png" alt="Rice Rock" height="200" width="300">
				<p>Rice Rock</p>
			</a>
		</div>
		<div class="col-md-4 col-sm-6">
			<a href="http://www.codeskulptor.org/#user43_JakDiWKGaP_2.py" target="_blank">
				<img src="src/images/Black Jack.png" alt="Black Jack" height="200" width="300">
				<p>Black Jack</p>
			</a>
		</div>
		<div class="col-md-4 col-sm-6">
			<a href="http://www.codeskulptor.org/#user43_oPVHzTlQ9z_6.py" target="_blank">
				<img src="src/images/Pong.png" alt="Pong" height="200" width="300">
				<p>Pong</p>
			</a>
		</div>
	</div> -->
	<div class="title text-center">
		<h2>****** Javascript ******</h2>
	</div>
	<div class="text-center">
		Updating soon...
	</div>
	<div class="title text-center">
		<h2>****** Other ******</h2>
	</div>
	<div class="text-center">
		Updating soon...
	</div>
	<div>
		<ul>
			<websites website="website" ng-repeat="website in proCtrl.websites"></websites>
		</ul>
		<!-- <p>The following games were class projects implemented in Codeskulptor. After clicking the links in here, just click the play button (triangle) on the upper left of the new page to start the game.</p>
		<ul class="game-list">
			<homeworks homework="homework" ng-repeat="homework in proCtrl.homeworks" ></homeworks>
		</ul> -->

	</div>
</div>

<!-- <div  class = "center_piece">

			<websites website="website" ng-repeat="website in proCtrl.websites"></websites>

			<homeworks homework="homework" ng-repeat="homework in proCtrl.homeworks" ></homeworks>

</div> -->

<!-- <div class="row">
	<div class="col-md-6 col-sm-12">
		<a href="{{$ctrl.website.url}}">
			<img src="{{$ctrl.website.image}}" alt="">
			<span>{{$ctrl.website.description}}</span>
		</a>
	</div>
</div> -->
